*{
    margin: 0px;
    padding: 0px;
}
/* -----------VARIABLES DE COLOR------------ */

/* --------------CONTENEDOR-------------- */
body , html{
  width: 100%;
  height: 100%;
  background: #282C34 !important;
}
#cont{
  width: 100%;
  height: 100%;
  background: #282C34 !important;
  padding: 0px !important;
}
/* -----------------LOGIN---------------------- */
.login{
  height: 100%;
  background: pink;
  position: relative;
  float: left;
  padding:0px !important;
}
header{
    width: 100%;
    height: 300px;
    background: #353E47 !important;
}
.div_login{
    width: 100%;
    height: calc(100% - 300px);
    position: relative;
    float: left;
    background: #353E47 !important;
}
.div_login input{
  width: 80%;
  height: 30px;
  position: relative;
  float: left;
  left: 10%;
  margin-top:20px;
  background: #282C34;
  border: none;
  outline: none;
  padding: 10px;
  font-size: .9em;
}
::-webkit-input-placeholder{
  color: #fff;
}
.div_login button{
  width: 60%;
  height: 30px;
  left: 20%;
  position: relative;
  float: left;
  margin-top: 30px;
  outline: none;
  background:#282C34;
  border:1px solid #54ABEE;
  color: #fff;
  border-radius: 15px;
  font-size: 1em;
}
.div_login p{
    width: 100%;
    position: relative;
    float: left;
    text-align: center;
    padding: 30px;
    color: #54ABEE;
    font-size: .8em;
    cursor: pointer;
}
/* ---------------------SCREENCONSUMO---------------------- */
.header{
    height: 60px;
}
.logos{
  height: 100%;
  position: relative;
  float: left;
}
.cerrarM{
  height: 100%;
  position: relative;
  float: left;
}
.div_menu{
    margin-top: 3px;
    height: 35px;
    position: relative;
    float: left;
    background: #353E47;
}
.nav_menu{
    left: 60%;
    height: 100%;
    position: relative;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_menu li{
    margin: 10px;
    display: inline-block;
    text-align: center;
    color:#fff;
}
.div_body{
    height: calc(100% - 134px);
    position: relative;
    float: left;
    background: #353E47;
    margin-top:3px;
}
.div_body .mitad{
  width: 48%;
  margin: 1%;
  background: #282C34;
  margin-top: 35px;
  position: relative;
  float: left;
}
footer{
  width: 100%;
  height: 30px;
  position: relative;
  float: left;
  bottom: 0px;
  background: #353E47;
  margin-top: 3px !important;
}
